<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sabeeh Saeed - Education</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
        <link rel="stylesheet" type="text/css" href="../Assets/css/bootstrap-lumen.css">
        <link rel="stylesheet" href="../Assets/css/main.css">
    </head>


    <header>
     
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../index.html">Sabeeh Saeed</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            
            <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                <a class="nav-link ml-1 mr-1" href="#">Education <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link ml-1 mr-1" href="#">Experience</a>
                </li>
                <li class="nav-item ml-1 mr-1">
                <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item ml-1 mr-1">
                <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            
            </div>
        </nav>
     
    </header>

    <body>
        
    

        <div class="jumbotron mb-0 ">
            <div class="clearfix"> 
                <h1 class="display-4" >
                    <a>Education</a>
                </h1>
            </div>
            <h2 class="text-secondary lead">
                Currently Enrolled as a sophomore in a BS-CS Program <br> at the National University
                of Computer and Emerging Science (FAST-NU)
            </h2>
        </div>

        <hr class="bg-primary ml-5 mr-5 mt-0 mb-0">

        
        <main class="container p-3 my-5">
            
            <div class="clearfix m-3">
                <h3 class="YanoneKaffee text-center"> Matriculation</h3>
                <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                    <div class="col-lg-3 ml-auto" >
                        <h3 class="mb2 lead text-center ">Beaconhouse School System <br> Garden Town Campus<br>Lahore </h3>
                        <img class="ml-auto mr-auto schoollogo" src="../Assets/img/bss.jpeg" style="display: block;"></img>
                    </div>
    
                    <div class="col-lg-4 mr-auto mt-5" >
                        <i class="fa fa-fw fa-calendar"></i>
                        <time class="text-primary" datetime="2005">
                            2005 - 2016
                        </time>
                        <hr>
                        <p class="text-secondary">
                            Completed my Matriculation in 2016 with Subjects Physics, Mathematics, Chemistry and
                            Computer Science. Got the best Grade in the school and was awarded multiple times
                            throughout school.
                        </p>
                    </div>
                </div>
            </div>

            <div class="clearfix m-3">
                <h3 class="YanoneKaffee text-center"> Intermediate</h3>
                <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                    <div class="col-lg-4 ml-auto" >
                        <h3 class="mb2 lead text-center">Government College University <br> (GCU)<br>Lahore </h3>
                        <img class="ml-auto mr-auto schoollogo" src="../Assets/img/gcu.png" style="display: block;"></img>
                    </div>
    
                    <div class="col-lg-4 mr-auto mt-5" >
                        <i class="fa fa-fw fa-calendar"></i>
                        <time class="text-primary" datetime="2005">
                            2016 - 2018
                        </time>
                        <hr>
                        <p class="text-secondary">
                            Completed my Intermediate in 2018 with Subjects Physics, Mathematics, and
                            Computer Science. Took Part in many activities and self-taught myself many
                            Computer Science and Programming concepts during this time period.
                        </p>
                    </div>
                </div>
            </div>

            <div class="clearfix m-3">
                <h3 class="YanoneKaffee text-center"> Higher Education</h3>
                <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                    <div class="col-lg-4 ml-auto" >
                        <h3 class="mb-2 lead text-center">National University of Computer and Emerging
                            Sciences <br> (FAST-NUCES)<br>Lahore </h3>
                        <img class="ml-auto mr-auto schoollogo" src="../Assets/img/fast.png" style="display: block;"></img>
                    </div>
    
                    <div class="col-lg-4 mr-auto mt-5" >
                        <i class="fa fa-fw fa-calendar"></i>
                        <time class="text-primary" datetime="2005">
                            2018 - Present
                        </time>
                        <hr>
                        <p class="text-secondary">
                            Currently enrolled in the Bachelors of Computer Sciences Program
                            at Lahore campus. Finding many opportunities to learn and grow
                            and developing new skillset for a professional career daily.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        
        
    </body>     

   <footer>
       <hr class="bg-primary mx-5">
       <div class="container">
           <div class="row">
               <div class="col-sm-5 mr-auto ml-0">
                    <p class="lead small text-muted">&copy; 2020 - Sabeeh Saeed All rights reserved</p>
               </div>
               <div class="col-sm-5 ml-0">
                    
               </div>
           </div>
       </div>
   </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>             
</html>