<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sabeeh Saeed - Projects</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
        <link rel="stylesheet" type="text/css" href="../Assets/css/bootstrap-lumen.css">
        <link rel="stylesheet" href="../Assets/css/main.css">
    </head>


    <header>
     
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../index.html">Sabeeh Saeed</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            
            <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                <a class="nav-link ml-1 mr-1" href="./Education.html">Education <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link ml-1 mr-1" href="#">Experience</a>
                </li>
                <li class="nav-item ml-1 mr-1">
                <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item ml-1 mr-1">
                <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            
            </div>
        </nav>
     
    </header>

    <body>
        
    

        <div class="jumbotron mb-0 ">
            <div class="clearfix"> 
                <h1 class="display-4" >
                    <a>Projects</a>
                </h1>
            </div>
            <h2 class="text-secondary lead">
                Multiple Projects across the spectrum of Computer Sciences' <br> 
                sub-fields using languages such as C/C++, Java, python, HTML, C#
            </h2>
        </div>

        <hr class="bg-primary ml-5 mr-5 mt-0 mb-0">

        
        <main class="container p-3 my-5">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#cplusplus">C++</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " data-toggle="tab" href="#gamedev">Game-Dev</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Disabled</a>
                </li>
                
              </ul>

              <!-- Tabs -->
              <div class="tab-content">

                <!--C++-->
                <div class="tab-pane fade active show my-3" id="cplusplus">
                    <div class="clearfix m-3">
                        <h3 class="YanoneKaffee text-center"> C/C++ Projects</h3>
                        <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                            <div class="col-lg-4 ml-auto" >
                                <h3 class="mb2 lead text-center">Government College University <br> (GCU)<br>Lahore </h3>
                                <img class="ml-auto mr-auto schoollogo" src="../Assets/img/gcu.png" style="display: block;"></img>
                            </div>
            
                            <div class="col-lg-4 mr-auto mt-5" >
                                <i class="fa fa-fw fa-calendar"></i>
                                <time class="text-primary" datetime="2005">
                                    2016 - 2018
                                </time>
                                <hr>
                                <p class="text-secondary">
                                    Completed my Intermediate in 2018 with Subjects Physics, Mathematics, and
                                    Computer Science. Took Part in many activities and self-taught myself many
                                    Computer Science and Programming concepts during this time period.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Game Development -->
                <div class="tab-pane fade" id="gamedev">
                    <div class="clearfix m-3">
                        <h3 class="YanoneKaffee text-center"> Game Development Projects</h3>
                        <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                            <div class="col-lg-3 ml-auto" >
                                <h3 class="mb2 lead text-center ">Beaconhouse School System <br> Garden Town Campus<br>Lahore </h3>
                                <img class="ml-auto mr-auto schoollogo" src="../Assets/img/bss.jpeg" style="display: block;"></img>
                            </div>
            
                            <div class="col-lg-4 mr-auto mt-5" >
                                <i class="fa fa-fw fa-calendar"></i>
                                <time class="text-primary" datetime="2005">
                                    2005 - 2016
                                </time>
                                <hr>
                                <p class="text-secondary">
                                    Completed my Matriculation in 2016 with Subjects Physics, Mathematics, Chemistry and
                                    Computer Science. Got the best Grade in the school and was awarded multiple times
                                    throughout school.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </main>
    </body>     

   <footer>
       <hr class="bg-primary mx-5">
       <div class="container">
           <div class="row">
               <div class="col-lg-5 mr-auto ml-0">
                    <p class="lead small text-muted">&copy; 2020 - Sabeeh Saeed All rights reserved</p>
               </div>
               <div class="col-lg-5 ml-0">
                    
               </div>
           </div>
       </div>
   </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>             
</html>