<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sabeeh Saeed - Projects</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
        <link rel="stylesheet" type="text/css" href="../Assets/css/bootstrap-lumen.css">
        <link rel="stylesheet" href="../Assets/css/main.css">
    </head>


    <header>
     
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../index.html">Sabeeh Saeed</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            
            <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                <a class="nav-link ml-1 mr-1" href="./Education.html">Education <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link ml-1 mr-1" href="#">Experience</a>
                </li>
                <li class="nav-item ml-1 mr-1">
                <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item ml-1 mr-1">
                <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            
            </div>
        </nav>
     
    </header>

    <body>
        
    

        <div class="jumbotron mb-0 ">
            <div class="clearfix"> 
                <h1 class="display-4" >
                    <a>Projects</a>
                </h1>
            </div>
            <h2 class="text-secondary lead">
                Multiple Projects across the spectrum of Computer Sciences' <br> 
                sub-fields using languages such as C/C++, Java, python, HTML, C#
            </h2>
        </div>

        <hr class="bg-primary ml-5 mr-5 mt-0 mb-0">

        
        <main class="container p-3 my-5">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#cplusplus">C / C++</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " data-toggle="tab" href="#gamedev">Game-Dev</a>
                </li>
            </ul>

              <!-- Tabs -->
              <div class="tab-content">

                <!--C++-->
                <div class="tab-pane fade active show my-5" id="cplusplus">
                    
                    <h3 class="YanoneKaffee text-center"> C/C++ Projects</h3>

                    <!--CPP-0-->
                    <div class="clearfix m-3">
                        <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                            <div class="col-lg-6 ml-auto" >
                                <img class="mx-auto mt-5 border-primary border bg-light p-2 project-thumb" src="../Assets/img/project-imgs/cpp-0/thumb.png" style="display: block;"></img>
                            </div>
            
                            <div class="col-lg-4 mr-auto mt-3 pb-5" >
                            
                                <h3 class="mb-4 lead text-center" ><a href="#" style="color: black;">Teleword<br></a></h3>
                            
                                <hr>
                                <p class="text-secondary">
                                    This is a Third Person Survival Horror Video Game made with the Unity 
                                    Engine using 3D Models and Assets that were Royalty free or that I had
                                    developed Myself. This is a First Person Survival Horror Video Game made 
                                    with the Unity Engine using 3D Models and Assets that were Royalty free
                                    or that I had developed Myself. 
                                    <a href="./Projects/gd-0.html"> &nbsp; Read More &cuepr;</a>
                                </p>

                                <hr>

                                <div>
                                    <i class="fa fa-fw fa-github"></i>
                                    <a href="https://github.com/sabeehsaeed" target="_blank">sabeehsaeed/mark-ii</a>
                                    <br>
                                    <i class="fa fa-fw fa-calendar"></i>
                                    <time class="text-primary" datetime="2005">
                                        2014 - 2015
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>

                     <!--CPP-1-->
                     <div class="clearfix m-3">
                        <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                            <div class="col-lg-6 ml-auto" >
                                <img class="mx-auto mt-5 border-primary border bg-light p-2 project-thumb" src="../Assets/img/project-imgs/cpp-1/thumb.png" style="display: block;"></img>
                            </div>
            
                            <div class="col-lg-4 mr-auto mt-3 pb-5" >
                            
                                <h3 class="mb-4 lead text-center" ><a href="#" style="color: black;">Chess<br></a></h3>
                            
                                <hr>
                                <p class="text-secondary">
                                    This is a Third Person Survival Horror Video Game made with the Unity 
                                    Engine using 3D Models and Assets that were Royalty free or that I had
                                    developed Myself. This is a First Person Survival Horror Video Game made 
                                    with the Unity Engine using 3D Models and Assets that were Royalty free
                                    or that I had developed Myself. 
                                    <a href="./Projects/gd-0.html"> &nbsp; Read More &cuepr;</a>
                                </p>

                                <hr>

                                <div>
                                    <i class="fa fa-fw fa-github"></i>
                                    <a href="https://github.com/sabeehsaeed" target="_blank">sabeehsaeed/mark-ii</a>
                                    <br>
                                    <i class="fa fa-fw fa-calendar"></i>
                                    <time class="text-primary" datetime="2005">
                                        2014 - 2015
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!--CPP-2-->
                    <div class="clearfix m-3">
                        <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                            <div class="col-lg-6 ml-auto" >
                                <img class="mx-auto mt-5 border-primary border bg-light p-2 project-thumb" src="../Assets/img/project-imgs/cpp-2/thumb.png" style="display: block;"></img>
                            </div>
            
                            <div class="col-lg-4 mr-auto mt-3 pb-5" >
                            
                                <h3 class="mb-4 lead text-center" ><a href="#" style="color: black;">Time Table Reader<br> Clash Identification (.XLS/.CSV)</a></h3>
                            
                                <hr>
                                <p class="text-secondary">
                                    This is a Third Person Survival Horror Video Game made with the Unity 
                                    Engine using 3D Models and Assets that were Royalty free or that I had
                                    developed Myself. This is a First Person Survival Horror Video Game made 
                                    with the Unity Engine using 3D Models and Assets that were Royalty free
                                    or that I had developed Myself. 
                                    <a href="./Projects/gd-0.html"> &nbsp; Read More &cuepr;</a>
                                </p>

                                <hr>

                                <div>
                                    <i class="fa fa-fw fa-github"></i>
                                    <a href="https://github.com/sabeehsaeed" target="_blank">sabeehsaeed/mark-ii</a>
                                    <br>
                                    <i class="fa fa-fw fa-calendar"></i>
                                    <time class="text-primary" datetime="2005">
                                        2014 - 2015
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--CPP-3-->
                    <div class="clearfix m-3">
                        <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                            <div class="col-lg-6 ml-auto" >
                                <img class="mx-auto mt-5 border-primary border bg-light p-2 project-thumb" src="../Assets/img/project-imgs/cpp-3/thumb.png" style="display: block;"></img>
                            </div>
            
                            <div class="col-lg-4 mr-auto mt-3 pb-5" >
                            
                                <h3 class="mb-4 lead text-center" ><a href="#" style="color: black;">Terminal<br></a></h3>
                            
                                <hr>
                                <p class="text-secondary">
                                    This is a Third Person Survival Horror Video Game made with the Unity 
                                    Engine using 3D Models and Assets that were Royalty free or that I had
                                    developed Myself. This is a First Person Survival Horror Video Game made 
                                    with the Unity Engine using 3D Models and Assets that were Royalty free
                                    or that I had developed Myself. 
                                    <a href="./Projects/gd-0.html"> &nbsp; Read More &cuepr;</a>
                                </p>

                                <hr>

                                <div>
                                    <i class="fa fa-fw fa-github"></i>
                                    <a href="https://github.com/sabeehsaeed" target="_blank">sabeehsaeed/mark-ii</a>
                                    <br>
                                    <i class="fa fa-fw fa-calendar"></i>
                                    <time class="text-primary" datetime="2005">
                                        2014 - 2015
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--CPP-4-->
                    <div class="clearfix m-3">
                        <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                            <div class="col-lg-6 ml-auto" >
                                <img class="mx-auto mt-5 border-primary border bg-light p-2 project-thumb" src="../Assets/img/project-imgs/cpp-4/thumb.png" style="display: block;"></img>
                            </div>
            
                            <div class="col-lg-4 mr-auto mt-3 pb-5" >
                            
                                <h3 class="mb-4 lead text-center" ><a href="#" style="color: black;">Large Matrix<br> Multiplication</a></h3>
                            
                                <hr>
                                <p class="text-secondary">
                                    This is a Third Person Survival Horror Video Game made with the Unity 
                                    Engine using 3D Models and Assets that were Royalty free or that I had
                                    developed Myself. This is a First Person Survival Horror Video Game made 
                                    with the Unity Engine using 3D Models and Assets that were Royalty free
                                    or that I had developed Myself. 
                                    <a href="./Projects/gd-0.html"> &nbsp; Read More &cuepr;</a>
                                </p>

                                <hr>

                                <div>
                                    <i class="fa fa-fw fa-github"></i>
                                    <a href="https://github.com/sabeehsaeed" target="_blank">sabeehsaeed/mark-ii</a>
                                    <br>
                                    <i class="fa fa-fw fa-calendar"></i>
                                    <time class="text-primary" datetime="2005">
                                        2014 - 2015
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--CPP-5-->
                    <div class="clearfix m-3">
                        <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                            <div class="col-lg-6 ml-auto" >
                                <img class="mx-auto mt-5 border-primary border bg-light p-2 project-thumb" src="../Assets/img/project-imgs/cpp-5/thumb.png" style="display: block;"></img>
                            </div>
            
                            <div class="col-lg-4 mr-auto mt-3 pb-5" >
                            
                                <h3 class="mb-4 lead text-center" ><a href="#" style="color: black;">Digital Event Management<br>System</a></h3>
                            
                                <hr>
                                <p class="text-secondary">
                                    This is a Third Person Survival Horror Video Game made with the Unity 
                                    Engine using 3D Models and Assets that were Royalty free or that I had
                                    developed Myself. This is a First Person Survival Horror Video Game made 
                                    with the Unity Engine using 3D Models and Assets that were Royalty free
                                    or that I had developed Myself. 
                                    <a href="./Projects/gd-0.html"> &nbsp; Read More &cuepr;</a>
                                </p>

                                <hr>

                                <div>
                                    <i class="fa fa-fw fa-github"></i>
                                    <a href="https://github.com/sabeehsaeed" target="_blank">sabeehsaeed/mark-ii</a>
                                    <br>
                                    <i class="fa fa-fw fa-calendar"></i>
                                    <time class="text-primary" datetime="2005">
                                        2014 - 2015
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--CPP-6-->
                    <div class="clearfix m-3">
                        <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                            <div class="col-lg-6 ml-auto" >
                                <img class="mx-auto mt-5 border-primary border bg-light p-2 project-thumb" src="../Assets/img/project-imgs/cpp-6/thumb.png" style="display: block;"></img>
                            </div>
            
                            <div class="col-lg-4 mr-auto mt-3 pb-5" >
                            
                                <h3 class="mb-4 lead text-center" ><a href="#" style="color: black;">Optimized Linked-List Based<br>Network Handler</a></h3>
                            
                                <hr>
                                <p class="text-secondary">
                                    This is a Third Person Survival Horror Video Game made with the Unity 
                                    Engine using 3D Models and Assets that were Royalty free or that I had
                                    developed Myself. This is a First Person Survival Horror Video Game made 
                                    with the Unity Engine using 3D Models and Assets that were Royalty free
                                    or that I had developed Myself. 
                                    <a href="./Projects/gd-0.html"> &nbsp; Read More &cuepr;</a>
                                </p>

                                <hr>

                                <div>
                                    <i class="fa fa-fw fa-github"></i>
                                    <a href="https://github.com/sabeehsaeed" target="_blank">sabeehsaeed/mark-ii</a>
                                    <br>
                                    <i class="fa fa-fw fa-calendar"></i>
                                    <time class="text-primary" datetime="2005">
                                        2014 - 2015
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--CPP-7-->
                    <div class="clearfix m-3">
                        <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                            <div class="col-lg-6 ml-auto" >
                                <img class="mx-auto mt-5 border-primary border bg-light p-2 project-thumb" src="../Assets/img/project-imgs/cpp-7/thumb.png" style="display: block;"></img>
                            </div>
            
                            <div class="col-lg-4 mr-auto mt-3 pb-5" >
                            
                                <h3 class="mb-4 lead text-center" ><a href="#" style="color: black;">Fully Object-Oriented<br>Paint Application</a></h3>
                            
                                <hr>
                                <p class="text-secondary">
                                    This is a Third Person Survival Horror Video Game made with the Unity 
                                    Engine using 3D Models and Assets that were Royalty free or that I had
                                    developed Myself. This is a First Person Survival Horror Video Game made 
                                    with the Unity Engine using 3D Models and Assets that were Royalty free
                                    or that I had developed Myself. 
                                    <a href="./Projects/gd-0.html"> &nbsp; Read More &cuepr;</a>
                                </p>

                                <hr>

                                <div>
                                    <i class="fa fa-fw fa-github"></i>
                                    <a href="https://github.com/sabeehsaeed" target="_blank">sabeehsaeed/mark-ii</a>
                                    <br>
                                    <i class="fa fa-fw fa-calendar"></i>
                                    <time class="text-primary" datetime="2005">
                                        2014 - 2015
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>


                <!-- Game Development -->
                <div class="tab-pane fade my-5" id="gamedev">

                    <h3 class="YanoneKaffee text-center"> Game Development Projects</h3>
                    
                    <!--GD-0-->
                    <div class="clearfix m-3">
                        <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                            <div class="col-lg-6 ml-auto" >
                                <img class="mx-auto mt-5 border-primary border bg-light p-2 project-thumb" src="../Assets/img/project-imgs/gd-0/thumb.png" style="display: block;"></img>
                            </div>
            
                            <div class="col-lg-4 mr-auto mt-3 pb-5" >
                            
                                <h3 class="mb-4 lead text-center" ><a href="#" style="color: black;">Third Person <br> Adventure and Puzzle </a></h3>
                            
                                <hr>
                                <p class="text-secondary">
                                    This is a Third Person Survival Horror Video Game made with the Unity 
                                    Engine using 3D Models and Assets that were Royalty free or that I had
                                    developed Myself. This is a First Person Survival Horror Video Game made 
                                    with the Unity Engine using 3D Models and Assets that were Royalty free
                                    or that I had developed Myself. 
                                    <a href="./Projects/gd-0.html"> &nbsp; Read More &cuepr;</a>
                                </p>

                                <hr>

                                <div>
                                    <i class="fa fa-fw fa-github"></i>
                                    <a href="https://github.com/sabeehsaeed" target="_blank">sabeehsaeed/mark-ii</a>
                                    <br>
                                    <i class="fa fa-fw fa-calendar"></i>
                                    <time class="text-primary" datetime="2005">
                                        2014 - 2015
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--GD-1-->
                    <div class="clearfix m-3">
                        <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                            <div class="col-lg-6 ml-auto" >
                                <img class="mx-auto mt-5 border-primary border bg-light p-2 project-thumb" src="../Assets/img/project-imgs/gd-1/thumb.png" style="display: block;"></img>
                            </div>
            
                            <div class="col-lg-4 mr-auto mt-3 pb-5" >
                            
                                <h3 class="mb-4 lead text-center" ><a href="#" style="color: black;">First Person <br> Survival Horror </a></h3>
                            
                                <hr>
                                <p class="text-secondary">
                                    This is a First Person Survival Horror Video Game made with the Unity 
                                    Engine using 3D Models and Assets that were Royalty free or that I had
                                    developed Myself. This is a First Person Survival Horror Video Game made 
                                    with the Unity Engine using 3D Models and Assets that were Royalty free
                                    or that I had developed Myself. 
                                    <a href="./Projects/gd-1.html"> &nbsp; Read More &cuepr;</a>
                                </p>

                                <hr>

                                <div>
                                    <i class="fa fa-fw fa-github"></i>
                                    <a href="https://github.com/sabeehsaeed" target="_blank">sabeehsaeed/mark-ii</a>
                                    <br>
                                    <i class="fa fa-fw fa-calendar"></i>
                                    <time class="text-primary" datetime="2005">
                                        2017 - 2018
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--GD-2-->
                    <div class="clearfix m-3">
                        <div class="row border-bottom border-primary mt-5 mb-5 p-3 pb-5">
                            <div class="col-lg-6 ml-auto" >
                                <img class="mx-auto mt-5 border-primary border bg-light p-2 project-thumb" src="../Assets/img/project-imgs/gd-2/thumb.png" style="display: block;"></img>
                            </div>
            
                            <div class="col-lg-4 mr-auto mt-3 pb-5" >
                            
                                <h3 class="mb-4 lead text-center" ><a href="#" style="color: black;">First Person <br> Psychological  </a></h3>
                            
                                <hr>
                                <p class="text-secondary">
                                    This is a First Person Psychological Thriller Video Game made with the both 
                                    Unreal Engine and Unity Engine using 3D Models and Assets that were Royalty free or that I had
                                    developed Myself. This is a First Person Survival Horror Video Game made 
                                    with the Unity Engine using 3D Models and Assets that were Royalty free
                                    or that I had developed Myself. 
                                    <a href="./Projects/gd-1.html"> &nbsp; Read More &cuepr;</a>
                                </p>

                                <hr>

                                <div>
                                    <i class="fa fa-fw fa-github"></i>
                                    <a href="https://github.com/sabeehsaeed" target="_blank">sabeehsaeed/mark-ii</a>
                                    <br>
                                    <i class="fa fa-fw fa-calendar"></i>
                                    <time class="text-primary" datetime="2005">
                                        2016 - 2018
                                    </time>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
    </body>     

   <footer>
       <hr class="bg-primary mx-5">
       <div class="container">
           <div class="row">
               <div class="col-lg-5 mr-auto ml-0">
                    <p class="lead small text-muted">&copy; 2020 - Sabeeh Saeed All rights reserved</p>
               </div>
               <div class="col-lg-5 ml-0">
                    
               </div>
           </div>
       </div>
   </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>             
</html>