@import url("https://fonts.googleapis.com/css?family=Yanone Kaffeesatz");
@import url("https://fonts.googleapis.com/css?family=Delius");

.navbar-brand {
    font-family: 'Yanone Kaffeesatz';
    font-size: 32px;
  
    margin-right: 1em;
}

.nav-link {
    font-family: 'Yanone Kaffeesatz';
    font-size: 20px;
}

.jumbotron {
    background-color: rgb(250, 250, 250);
}

.jumbotron .display-4{
    font-family: 'Yanone Kaffeesatz';
}
.profile-picture{
    max-width: 120px;
    max-height: 120px;
}

.display-4 a{
    color: black;
}

.display-4 a:hover{
    font-size: 98%;
}

footer {
    background-color: rgb(250, 250, 250);
}