@import url("https://fonts.googleapis.com/css?family=Kristi");
@import url("https://fonts.googleapis.com/css?family=Delius");

.navbar-brand {
    font-family: 'Kristi';
    font-size: 40px;
    margin-left: 1em;
    margin-right: 1em;
}

.nav-link {
    font-family: 'Delius';
    font-size: 20px;
}